.date_maker {
    max-width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    color: var(--text-color);
    align-items: center;
}
.date_maker > div {
    padding: 3px 2px;

}

/* .date_maker__value {
    border-left: thin solid #444;
} */


.date_maker__header {
    width: fit-content;
    color: var(--text-color);
}

.duration {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--text-color) thin;
}