.profile {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
  grid-column: 2;
}

.user_info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-template-areas: 
    "header avatar"
    "links  avatar"
    "quote  avatar";
}

.links {
  grid-area: links;
  display: flex;
  column-gap: 5px;
}

.quote {
  grid-area: quote;
}

.avatar {
  grid-area: avatar;
}
.avatar img {
  border-radius: 50%;
  max-width: 150px;
  margin: 1rem;
}

a::before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}

.list {
  list-style: none;
  padding: 1rem;
  padding-left: 2rem;
}

.list:nth-child(odd) {
  background-color: #f1fafa;
}

.list:hover {
  background-color: #e3f0f8;
}

.section > ul {
  padding-inline-start: 0rem;
}

.section > header > h2 {
  display: flex;
}