.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #ffffff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: rgb(0, 0, 0);
}

.header nav {
	float: right;
	font-size: 100%;
	display: flex;
}

.header h1 {
	display: flex;
	column-gap: 5px;
}

.header nav a {
	display: flex;
	flex-direction: row;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: rgb(0, 0, 0);
	will-change: background-color;
	align-items: center;
	justify-content: center;
}

.header nav a span {
	display: none;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a:hover span,
.header nav a:active span {
	display: unset;
}


.header nav a.active {
	background: rgba(0,0,0,0.4);
}

@media (max-width: 600px) {
	.header nav a > span {
		display: none;
	}

	.header h1 span {
		visibility: collapse;
		width: 15px;
		text-transform: uppercase;
	}
	
	.header h1 span:first-letter {
		visibility: visible;
	}
}
