body {
  --text-color: hsl(0, 0%, 27%);
  --bkg-color: hsl(0, 0%, 98%);
  --bkg-shade: rgba(0, 0, 0, 3%);
  --bkg-hover: rgba(0, 0, 0, 8%);
  --bkg-header: #fff;
}
body.dark-theme {
	--text-color: #eee;
    --bkg-color: #202945;
    --bkg-shade: rgba(255, 255, 255, 10%);
    --bkg-hover: rgb(255, 255, 255, 15%);
    --bkg-header: #233261;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--bkg-color);
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 75ch) minmax(1.2rem, 1fr);
}

svg {
  color: #444;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #202945;
    --bkg-shade: rgba(255, 255, 255, 10%);
    --bkg-hover: rgb(255, 255, 255, 15%);
    --bkg-header: #233261;
  }
  body.light-theme {
	--text-color: hsl(0, 0%, 27%);
	--bkg-color: hsl(0, 0%, 98%);
	--bkg-shade: rgba(0, 0, 0, 3%);
	--bkg-hover: rgba(0, 0, 0, 8%);
	--bkg-header: #fff;
  }
  svg {
    color: var(--text-color);
  }
  a {
    color: #809fff;
  }
}
