.hobbies {
  display: flex;
  flex-direction: row;
  row-gap: .2rem;
  column-gap: .5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.hobby {
  display: grid;
  background-color: var(--bkg-shade);
  grid-template-columns: 1fr;
  grid-template-rows: [header] 1fr [details] 3fr;
  grid-template-areas: 
    "header header header"
    "details details details";
  width: min-content;
  min-width: 150px;
  border-radius: 10px;
}

.hobby:hover {
  background-color: var(--bkg-hover);
}

.hobby h3 {
  grid-row: header;
  text-align: center;
}

.hobby ul {
  grid-row: details;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

@media print {
    .hobby {
      min-width: 180px;
      background-color: unset;
      max-height: 200px;
    }
    .hobbies {
        column-gap: 2rem;
    }
  }