.employment {
  display: flex;
  flex-direction: column;
}

.employment img {
  height: 50px;
}

.company_info {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.position span {
  margin: 0 0 0 5px;
}

.connected_list {
    padding-left: 0em;
}

.field__name {
  color: gray;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.time_period {
  display: flex;
  column-gap: 1em;
  align-items: center;
  font-size: 0.8rem;
}

@media print {
  .employment ul {
    padding-left: 1rem;
  }
}
